<h2>Información</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt illo id nemo sed est possimus perferendis quisquam
    doloremque beatae! Minus recusandae illum neque voluptates omnis doloribus laborum beatae accusamus non.</p>
<div class="redes">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="logo instagram">
                    <span></span>
                </div>
                <span class="name"></span>
            </div>
            <div class="col-sm">
                <div class="logo instagram">
                    <span></span>
                </div>
                <span class="name"></span>
            </div>
            <div class="col-sm">
                <div class="logo instagram">
                    <span></span>
                </div>
                <span class="name"></span>
            </div>
        </div>
    </div>
</div>